.coyntry{
    background-color: rgb(255, 225, 185);
    margin: 20px;
    padding: 10px;
    border: solid 1px salmon; border-radius: 5px;
}
.coyntry img{
    width: 300px;
    border: 2px solid rgb(255, 225, 185);
    border-radius: 15px;
}
